@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-secondary {
  @apply dark:bg-[#050506] bg-white;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }