@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-secondary {
  @apply dark:bg-[#050506] bg-white;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.without-focus-ring {
  @apply focus:ring-0 focus:ring-offset-0;
}
